@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Reddit', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0B2B40;
    overflow-x: hidden;
}

section {
    padding: 100px;
}

.inicio {

    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    transition: 0.3s;
    background: #154666;

}

header .logo {
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 10px;
}

header .logo span {
    color: #011140;
    font-weight: 700;
}

header .nav {
    position: relative;
    display: flex;
}

header .nav li {
    list-style: none;
    margin-left: 30px;
}

header .nav li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 1em;
    text-transform: uppercase;
}

header .nav li a:hover {
    color: #104447;
}

.contenido {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .tituloBox {
    position: relative;
    max-width: 800px;
}

.contenido .tituloBox h2 {
    font-size: 3em;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.5;
}

.contenido .tituloBox h2 span {
    color: #154666;
    font-weight: 800;
}

.contenido .tituloBox h3 {
    font-weight: 800;
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.contenido .tituloBox p {
    color: #ffffff;
    margin-bottom: 35px;
    line-height: 1.5;
}

.contenido .tituloBox a {
    padding: 10px 20px;
    border: 1px solid #011140;
    color: #ffffff;
    text-decoration: none;
    background: transparent;
}

.contenido .tituloBox a:hover {
    background: #011140;
    color: #ffffff;
}

.contenido .imgBox {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido .imgBox img {
    width: 300px;
    box-shadow: 50px 50px 0px 0px;
}

.proyectos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyectos .cardProyectos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding-top: 30px;
}

.proyectos .cardProyectos .card {
    text-align: left;
    margin-left: 15px;
    color: #ffffff;
    width: 500px;
    height: 300px;
    padding: 30px;

}

.proyectos .cardProyectos .card img,
iframe {
    border-radius: 25px 25px;
    width: 100%;
    height: 300px;
}

.proyectos .cardProyectos .card p {
    font-size: 1em;
}

.proyectos .cardProyectos .card p span {
    font-weight: 800;
}

.proyectos .cardProyectos .card:hover {
    scale: 1.03;
}

.titulo {
    font-size: 2em;
    font-weight: 800;
    color: #154666;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.texBox {
    position: relative;
    width: 600px;
}

.texBox p {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.texBox i {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

}

.texBox svg {
    margin-top: 15px;
}

.texBox path {
    padding: 0;
    margin-top: 25px;
}

.contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto h2 {
    font-size: 2em;
    font-weight: 800;
    color: #154666;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.contacto h4 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
}

.contacto h3 {
    color: #ffffff;
    margin-bottom: 20px;
}

.redes {
    margin-bottom: 20px;
}

.contacto .redes i {
    color: #ffffff;
    font-size: 35px;
    margin: 10px;
}

.contacto a {
    text-decoration: none;
}

.contacto i {
    font-size: 20px;
}

@media only screen and (max-width:1024px) {
    header {
        padding: 25px 80px;
    }

    .proyectos .cardProyectos {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 30px;
    }
    
    .proyectos .cardProyectos .card {
        text-align: left;
        color: #ffffff;
        width: 320px;
        height: 300px;
    
    }
    
    .proyectos .cardProyectos .card img,
    iframe {
        border-radius: 25px 25px;
        width: 320px;
        height: 300px;
    }
    

    .proyectos .texBox {

        margin-bottom: 20px;
        margin-top: 30px;
    }


}

@media only screen and (max-width:600px) {
    section{
        padding: 25px;
    }
    header.sticky {
        padding: 10px 80px;

    }

    header .nav {
        display: none;
    }

   

    header .nav.active li a {
        font-size: 1.5em;
    }
   header a .logo{
    max-width: 100%;
        padding: 0;
    }
    .inicio {
        position: relative;
        max-width: 100%;
        min-height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenido {
        position:relative;
        width: 450px;
        height: 400px;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
    }
    
    .contenido .tituloBox {
        position: relative;
        padding: 0;
        
    }
    
    .contenido .tituloBox h2 {
        font-size: 2.2em;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 1.5;
    }
    
    .contenido .tituloBox h2 span {
        color: #154666;
        font-weight: 800;
    }
    
    .contenido .tituloBox h3 {
        font-weight: 800;
        color: #ffffff;
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    
    .contenido .tituloBox p {
        color: #ffffff;
        margin-bottom: 70px;
        line-height: 1.5;
    }
    
    .contenido .tituloBox a {
        text-align: center;
        padding: 10px 20px;
        border: 1px solid #011140;
        color: #ffffff;
        text-decoration: none;
        background: transparent;
    }
    
    .contenido .tituloBox a:hover {
        background: #011140;
        color: #ffffff;
    }
    
    .contenido .imgBox {
        display: none;
    }
    
    .proyectos {
        max-width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .proyectos .texBox{
        max-width: 100%;
    }
    .proyectos .cardProyectos {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-left: 0;
        padding: 0;

    }
    .proyectos .cardProyectos .card {
        font-size: 0.9em;
        text-align: left;
        padding: 0;
    }
    .proyectos .cardProyectos .cardImg img,
    iframe {
        padding: 0;
        margin: 0;
        width: 320px;

    }

}